.imageSingle{
    width: 430px; 
    height: 350px; 
    object-fit: cover;
}
.cardBodySingle{
    align-content: center;
    text-align: center;
    margin-right: 5vw;
    margin-left: 5vw;
}
.mb-3{
    border: none
}